downloader/downloader.config

downloader/duplicateWork/StorySubset.pyc

downloader/duplicateWork/download.py

downloader/duplicateWork/requeststories.py

downloader/duplicateWork/story_utils.py

*.pyc

*.log

www/us.json

www/zoom.html
downloader/output/*.json
